body{
            overflow-x: hidden;
            text-align:left;
        }
        .container {
           	padding-bottom:20px;
        }
		.deal-box-flight {
        	border-bottom: 1px solid #f1bf2c;
            border-radius: 4px;
        	width:48%;
        	margin:4px 4px;
        	float:left;
			position:relative;
        }	
        .depart-date-flight {
        	float: left;
        	text-align: left;
			margin-left:20px;
			padding-right:14px;
			color:purple;
        }
        .arrive-date-flight {
        	float: right;
        	width: 243px;
        	text-align: left;
        }
		.depart-from-flight {
			float:left;			
			text-align:left;
			color:gray;   
		}	
        .depart-from-box-flight {
        	margin-right:11px;	
        	
        }
        .depart-date-box-flight {
        	margin-right:11px;
        	margin-left:61px;
        }
        .price-box-flight {
        	margin-right:11px;
        	margin-left:61px;
			float:left;
		}	
        .price-flight{
        	font-size:28px;
        	font-family: open sans, helvetica neue, helvetica, arial, sans-serif;
			margin-top:10px;
			margin-left:15px;
        }
		.price-text-flight {
			float:right;
			width:auto;
			text-align:left;
		}		
        .arrive-to-flight {
        	float: left;        	
        	text-align: left;
        }
        .airline-logo-flight{
			position:absolute;width: 107px;left: 295px;bottom:6px;
		}
		.plane-logo-flight {
			margin-left:14px;width:24px;float:left;margin-right:1px
		}	
		.side-border-flight {
			border-left: 2px solid gray;
			height:28px;
			float:left;
		}	
        .deal-content-flight {	
        	width: 100%;
        	font-size:13px;
        	padding-left:0px;
        	padding-top:7px;
        }
		.blue-button-flight {
			float: left;
			text-align: left;
			position: absolute;
			right: 18px;
			bottom: 1px
		}
		.btn-primary-flight {
		color: #fff;
		background-color: #007bff;
		border-color: #007bff;	
		}	
		.btn-flight {
			padding:3px 2px;
			font-size:11px;
		}
		.fa {
		    color:black;
		}
		@media only screen and (max-width: 1200px) {
		.airline-logo-flight{			
			width: 90px;
			left:239px;	
			bottom:0px;
		}				
		    
		} 
        @media only screen and (max-width: 1000px) {
        
        .depart-date-box-flight {
        	margin-left:44px;
        }
		.depart-from-flight {
			width: auto;
		}	
        .price-box-flight {
        	margin-left:44px;
        }
		.arrive-date-flight {        	
        	width: 159px;        	
        }
		.price-text-flight {			
			width:60px;
		}	
		 .arrive-to-flight {
        	width: auto;        	
        }
		 .airline-logo-flight{			
			width: 44px;
			left:217px;	
			bottom:0px;
		}				
        }
		
        @media only screen and (max-width: 760px) {
        .airline-logo-flight {    
			width: 77px;
				}	
		.price-flight{
        	font-size:23px;
		}
		.price-box-flight {
        	margin-left: 50px;
        }
		.depart-from-box-flight {
        	margin-left:0px;
        }
		.depart-from-flight {
			width:auto;
			margin-left:0px;
			font-size:15px;
		}
		.depart-date-flight {
			margin-left:9px;
			font-size:15px;
		}	
		.arrive-date-flight {        	
        	width: 177px;        	
        }
		.price-text-flight {			
			width:105px;
		}	
		 .arrive-to-flight {
        	width: auto;  
			font-size:15px;	
        }
        .price-p-flight {
        	font-size:23px;
        	margin-right:7px;
        }
        .deal-box-flight {
        	width:100%;
        	float:none;
			margin-left:11px;
			height:62px;
        }
		.blue-button-flight {
			right: 61px;
        }  
		}
		 @media only screen and (max-width: 520px) {
        .airline-logo-flight {    
			width: 59px;
			left: 232px;
			
		}
		.deal-box-flight {
        	height:92px;
        }
		 }
		 @media only screen and (max-width: 404px) {
        .airline-logo-flight {    
			width: 59px;
			left: 191px;
			bottom:-4px;
			
		}
		.blue-button-flight {
			right: 33px;
        } 
		.price-text-flight {			
			width:77px;
		}	
		 }	
        @media only screen and (max-width: 350px) {
        .deal-content-flight {
        	font-size:12px;
        }
        .arrive-date-flight {        	
        	width: 131px;        	
        }
        .price-text-flight {			
			width:131px;
		}
		.blue-button-flight {
			margin-left: -15px;
		}
		}	